extends ../../layout

block content
  .demo-layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
    include ../includes/header
    include ../includes/sidebar
    
    main.mdl-layout__content.mdl-color--grey-100
      .mdl-grid.demo-content
        .mdl-cell--6-col.mdl-cell--3-offset.mdl-grid
        
          table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp(style='width:100%;')
            thead
              th.mdl-data-table__cell--non-numeric No.
              th.mdl-data-table__cell--non-numeric Tahun
              th.mdl-data-table__cell--non-numeric Komoditas
              th.mdl-data-table__cell--non-numeric Luas Lahan Panen
              th.mdl-data-table__cell--non-numeric Produksi
              th
            each p, i in productions
              tr(class='id-#{p._id}')
                td= i+1
                td= p.tahun
                td.mdl-data-table__cell--non-numeric= p.komoditas
                td= p.luas
                td= p.produksi
                td
                  a(href='javasript:;' onClick='deleteProduksi("#{p._id}", "#{p.komoditas}", "#{p.tahun}")').material-icons(role='presentation') delete
                td
                  a(href='/produksi/#{p._id}/update').material-icons(role='presentation') mode_edit
    a#addProduksi.fab.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored(href='/produksi/add')
      i.material-icons add
    
    div.mdl-tooltip.mdl-tooltip--left(for='addProduksi') Add Produksi